@font-face {
    font-family: 'Zabars';
    src: url(fonts/Zabars.ttf) format('truetype');
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Zabars', sans-serif;
    font-size: 42px;
    background-image: url(./img_design/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

h1 {
    letter-spacing: 7px;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    border: solid 3px #D0C7B6;
}

.icons-above-canvas {
    display: flex;
    justify-content: flex-end;
    gap: 26px;
}

.overcontainer img {
    height: 48px;
    width: 48px;
}

.overcontainer img:hover {
    cursor: pointer;
}

#fullscreen {
    display: flex;
    justify-content: flex-end;
}

#toggle_sound_btn {
    display: flex;
    justify-content: flex-end;
}

.game-instruction {
    display: flex;
    max-width: 780px;
    letter-spacing: 2px;
}

.startScreen {
    position: absolute;

}

#startScreen_img {
    height: 480px;
    width: 780px;
    padding-left: 2.7px;
    padding-top: 2.4px;
}

#startScreen_img:hover {
    cursor: auto;
}

#start_game {
    position: absolute;
    height: 77px;
    width: 178px;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-family: 'Zabars';
    border-radius: 12px;
    border-color: black;
    background-color: #f09b48;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    transition: transform 0.2s ease-in-out, border 0.3s ease;
}

#start_game:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    border-color: rgb(255, 244, 54);
    z-index: auto;
}

.endScreen {
    position: absolute;
}

#endScreen_img {
    height: 480px;
    width: 780px;
    padding-left: 3px;
    padding-top: 2.5px;
}

#endScreen_img:hover {
    cursor: auto;
}

#end_game {
    position: absolute;
    height: 77px;
    width: 178px;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-family: 'Zabars';
    border-radius: 12px;
    border-color: black;
    background-color: #f09b48;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    transition: transform 0.2s ease-in-out, border 0.3s ease;
}

#end_game:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    border-color: rgb(255, 244, 54);
    z-index: auto;
}

.rotate-your-phone {
    display: none;
}





/**Landscape-mod for Iphone 13 pro Max. **/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        letter-spacing: 7px;
        text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.2);
        margin: 0;
        font-size: 60px;
    }

    #startScreen_img {
        height: 429px;
        width: 696px;
        padding-left: 2.7px;
        padding-top: 2.4px;
    }

    #start_game {
        position: absolute;
        height: 77px;
        width: 225px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        font-family: 'Zabars';
        color: black;
        border-radius: 12px;
        border-color: black;
        background-color: #f09b48;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        letter-spacing: 2px;
        transition: transform 0.2s ease-in-out, border 0.3s ease;
    }

    #endScreen_img {
        height: 429px;
        width: 695px;
        padding-left: 3px;
        padding-top: 2.5px;
    }

    #end_game {
        position: absolute;
        height: 73px;
        width: 224px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        font-family: 'Zabars';
        color: black;
        border-radius: 12px;
        border-color: black;
        background-color: #f09b48;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        letter-spacing: 2px;
        transition: transform 0.2s ease-in-out, border 0.3s ease;
    }

    .game-instruction {
        display: none;
    }


}

@media only screen and (max-width: 780px) {
    canvas {
        width: 100%;
    }
}


@media (max-width:790px) {
    .game-instruction {
        font-size: 24px;
    }

}

@media (max-width: 700px) {
    .rotate-your-phone {
        display: block;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 3px;
        background-image: url(./img_design/8.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    .rotate-your-phone img {
        height: 214px;
        width: 214px;
    }


}