@font-face {
    font-family: 'Zabars';
    src:url(fonts/Zabars.ttf) format('truetype');
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Zabars', sans-serif;
    font-size: 42px;
    background-image: url(./img_design/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    
}

h1{
    letter-spacing: 7px;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    border: solid 3px #D0C7B6;
    
}

.icons-above-canvas{
   display: flex;
   justify-content: flex-end;
    gap: 26px;
}

.overcontainer img{
    height: 48px;
    width: 48px;
    
}

.overcontainer img:hover{
    cursor: pointer;
}

#fullscreen{
    display: flex;
    justify-content: flex-end;
}

#toggle_sound_btn{
    display: flex;
    justify-content: flex-end;
}

.game-instruction{
    letter-spacing: 5px;
}

.startScreen{
    position: absolute;

}

#startScreen_img{
    height: 479px;
    width: 979px;
    padding-left: 3px;
    padding-top: 3px;
}

#startScreen_img:hover{
    cursor: auto;
}

#start_game{
    position: absolute;
    height: 77px;
    width: 178px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-family: 'Zabars';
    border-radius: 12px;
    border-color: black;
    background-color: #df944c;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    transition: transform 0.2s ease-in-out, border 0.3s ease;
}

#start_game:hover{
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    border-color: rgb(255,244,54); 
}


@media only screen and (max-height: 480px) {
    canvas{
        height: 100vh;
    }

   
}

@media only screen and (max-width: 960px) {
    canvas{
        width: 100%;
    }
  
}

@media  (max-width: 560px) {
    h1{
        display: none;
    }

    body {
        background-image: none;
    }
   
}